.projets {
  text-align: center;

  *:not(h2) { font-family: "Roboto Condensed", sans-serif; }

  .previous, .next {
    position: absolute;
    left: 0;
    top: 10%;
    color: darkblue;
    font-size: 3rem;
    padding: 1rem 2rem;
    z-index: 10000;

    &:hover {
      color: white;
      background-color: darkblue;
      transform: scale(1.05);
    }
  }
  .next {
    left: unset;
    right: 0;
  }
  .diapo-container {
    border: 1px solid black;
    position: relative;
    max-width: 500px;
    overflow: hidden;
    align-items: center;
    margin: 3rem auto 0 auto;
    display: flex;
    align-items: start;
    transition: all .3s ease-in-out;

    div {
      min-width: 100%;
      transition: all 1s ease-in-out;
    }
  }
  .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }

  img {
    border-radius: 1rem;
  }
  article div {
    position: relative;
  }

  .technos {
    display: flex;
    gap: 1rem;
    align-items: stretch;

    & > div {
      min-width: unset;
      flex: 1;
    }
    h5 {
      font-size: 2rem;
      font-weight: bold;
    }
    p {
      font-size: 1.3rem;
    }
  }

  .code-source, .site-live {
    font-size: 1.5rem;
    position: absolute;
    top: 0;
    right: 0;
    background-color: darkblue;
    color: white;
    box-shadow: rgba(25, 25, 25, .04) 0 0 1px 0, rgba(0, 0, 0, .1) 0 3px 4px 0;
    padding: .5rem 1rem;
    transition: all .3s ease-in-out;

    &:hover {
      color: black;
      background-color: white;
    }
  }
  .site-live {
    right: unset;
    left: 0;
  }
}
.fonctionnalites {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}
.fonctionnalites span, .technos p {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    font-size: 1.3rem;
    background-color: darkblue;
    color: white;
    padding: 1rem;
    box-shadow: rgba(25, 25, 25, .04) 0 0 1px 0, rgba(0, 0, 0, .1) 0 3px 4px 0;
}
.technos p {
  width: 100%;
}
@media screen and (max-width: 600px){
  .projets {

    .technos {
      flex-direction: column;
    }

    .fonctionnalites {
      span {
        width: 90%;
      }
    }
  }
}