.social-network {
  position: fixed;
  display: flex;
  align-items: center;
  right: 0;
  bottom: 0;
  padding: .5rem;
  border-radius: .5rem;
  background-color: white;
  box-shadow: rgba(25, 25, 25, .04) 0 0 1px 0, rgba(0, 0, 0, .1) -3px -3px 4px 0;

  a:not(:nth-child(1)) {
    margin: 0 0 0 2rem ;
  }
}

@media screen and (min-width: 620px) {

  .social-network {
    left: 0;
    top: 60%;
    bottom: unset;
    right: unset;
    flex-direction: column;
    box-shadow: rgba(25, 25, 25, .04) 0 0 1px 0, rgba(0, 0, 0, .1) 0 3px 4px 0;

    a:not(:nth-child(1)) {
      margin: 2rem 0 0 0;
    }
  }
}